*{
    margin:0;
    padding: 0;
}

#titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(6, 13, 14);
    margin-left: 7%;
}

#subtitulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(5, 13, 14);
    margin-left: 10%;
}

fieldset{
    border: 0;
}

body{
    background-color: rgb(233, 240, 233);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    color: rgb(65, 71, 71);
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input,select,textarea,button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: rgb(65,71,71);
    display: block;
}

.campo input[type="text"],.campo input[type="email"],.campo select,.campo textarea{
    padding: 0.2em;
    border: 1px solid rgba(27, 18, 158, 0.267);
    box-shadow:2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus,.campo select:focus,.campo textarea:focus {
    background: rgb(231, 230, 236);
}

.botao{
    font-size: 1.2em;
    background: rgb(250, 248, 245);
    border: 0;
    margin-bottom: 1em;
    color: rgb(19, 5, 3);
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow:1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}

.botao:hover{
    background: rgb(235, 228, 235);
    box-shadow:inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

#check{
    display: inline-block;
}